body {
  margin: 0;
  background-color: #2C2D2F !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
#toggle-drop{
  padding-right: 5%;
  background-color: #121318;
}

#toggle-drop:focus{
  box-shadow: none;
}
.header-menu{
  color: #0090FF;
  font-size: 150%;
}
.title{
  color: #0090FF;
  padding-top: 2%;
}
.main-inCard{
  color: white;
}
.price-card{
  font-size: 110%;
  color: #E6565A;
}
.insta-image{
  width: 100%;
  height: 100%;
}

#item-drop-lenguage:hover{
  background-color: #E6565A !important;
  justify-content: center;
}
#item-drop-lenguage:active{
  background-color: #E6565A !important;
}
.menu-drop{
  background-color: #121318 !important;
}

.flag-drop{
  margin-right: 20% !important;
  background-position: left !important;
}

.flag-icon{
  background-size: contain !important;
  background-position: 100%;
  width: 100% !important;
  height: 500% !important;
  background-repeat: no-repeat !important;
}
.circle-image-storie{
  width: 45px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0.5%;
  border-style: solid;
  border-width: 1.5px;
  border-color: #0090FF;
}
.close-icon{
  color: white;
  margin-left: 32%;
  margin-top: 22%;
}
.close-stories{
  background-color: #2C2D2F;
  border-radius: 90%;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  float: right;
  right: 3%;
  z-index: 1000;
}
.sub-title{
  color: #E6565A;
  padding-top: 1%;
}
.google{
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(66,133,244,1) 25%, rgba(219,68,55,1) 50%, rgba(244,180,0,1) 75%, rgba(15,157,88,1) 100%);
}
.instagram{
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}
.logo-image-circle{
  width: 32px;
  height: 32px;
}



